# Dependencias de Node
node_modules/
dist/
.env

# Docker y Base de Datos local
docker/dynamodb/
.DS_Store

# Archivos de sistema
Thumbs.db

# Ignorar variables de entorno en cualquier subproyecto
**/.env
**/.env.*
!**/.env.example